# Базы данных (база всегда должна оставаться локально на сервере)
*.db
*.sqlite3

# Секреты и настройки окружения
.env

# Кэш и компилированные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Виртуальные окружения
.venv/
venv/
env/

# Логи (если будут создаваться локально)
*.log
logs/

# Настройки сред разработки (VS Code, PyCharm)
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
